.sallers {
  background-color: #ececec;
  .title {
    background-color: #cf6f54;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .boxAdressess {
    padding: 20px 0;
  }
}
